<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
  <div class="sidebar-content">
    {{ $url := .Site.BaseURL }}
    <a href="{{ $url }}"><img src="{{.Site.BaseURL}}/img/logo.png" class="img-responsive"/></a>
    {{ range .Site.Params.sidebarAbout }}
      <p class="sidebar-p">{{ . | safeHTML }}</p>
    {{ end }}
    <ul class="sidebar-menu">
      {{ $taxonomies := .Site.Taxonomies }}
      {{ range .Site.Params.navlinks }}
        <li><a href="{{ $url }}/{{ .url }}">{{ .name }}</a></li>
          {{ if eq .url "expertise/" }}
            <ul class="sidebar-menu">
            <!--{{ range $key, $taxonomy := $taxonomies.categories }}
              <li><a href="/categories/{{ $key | urlize }}">{{ $key }}</a></li>
            {{ end }}-->
              <li><a href="{{ $url }}/categories/les-partages-green-atitude">Les partages green attitude</a></li>
              <li><a href="{{ $url }}/categories/les-outils-pédagogiques">Les outils pédagogiques</a></li>
              <li><a href="{{ $url }}/categories/les-déguisements-et-les-jouets">Les déguisements et les jouets</a></li>
              <li><a href="{{ $url }}/categories/la-couture-enfantin-et-pas-que-ça">La couture enfantin' et pas que ça</a></li>
              <li><a href="{{ $url }}/categories/le-cartonnage">Le cartonnage</a></li>
              <li><a href="{{ $url }}/categories/aux-pinceaux">Aux pinceaux</a></li>
              <li><a href="{{ $url }}/categories/les-zautres">Les Z'autres</a></li>
            </ul>
          {{ end }}
      {{ end }}
    </ul>
    {{ partial "socialButtonsInSideBar.html" . }}

    <div class="copyright">
      <p class="credit">
        {{ with .Site.Params.copyright }}
          {{ . | safeHTML }}
        {{ end }}
      </p>
    </div>
  </div>
</div>
