{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobileNavToggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>Mes savoir-faires</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="{{.Site.BaseURL}}/categories/les-partages-green-atitude">
          <img src="{{.Site.BaseURL}}/img/expertise/ateliers-formations/peinture-vegetale/peinture-vegetale5.jpg">
        </a>
        <div class="caption">
          <h4>Les Partages Green Attitude</h4>
          <p>Une catégorie Green, où je partage mes connaissances et astuces, 100% écolo et rigolo! Des moments de pur partage entre les grands et les petits. Une de mes thématiques préféres, la peinture végétale, et la fabrication des pigments naturels</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="{{.Site.BaseURL}}/categories/les-outils-pédagogiques">
          <img src="{{.Site.BaseURL}}/img/expertise/outils-pedagogiques/marionette/marionette1.jpg">
        </a>
        <div class="caption">
          <h4>Les Outils Pédagogiques</h4>
          <p>Avec des enfants petits tout est permis! Cette catégorie est dédie aux tout petits. C'est à travers leur enthousiasme pour les histoires, comptines que je m'inspire pour créer de nouveaux outils pédagogiques</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="{{.Site.BaseURL}}/categories/les-déguisements-et-les-jouets">
          <img src="{{.Site.BaseURL}}/img/expertise/deguisement/deguisement1.jpg">
        </a>
        <div class="caption">
          <h4>Les déguisements et les jouets</h4>
          <p>Jouets, déguisements, le monde imaginaire devient réel! Je construit à la demande</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="{{.Site.BaseURL}}/categories/la-couture-enfantin-et-pas-que-ça">
          <img src="{{.Site.BaseURL}}/img/expertise/sacs/Sac%20Maternidade/sac-maternite1.jpg">
        </a>
        <div class="caption">
          <h4>La couture enfantin' et pas que ça!</h4>
          <p>Autodidacte j'ai démarré la couture avec la naissance de mon premier! J'imagine, créé des objets, et des accessoires!</p>
        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="{{.Site.BaseURL}}/categories/le-cartonnage">
          <img src="{{.Site.BaseURL}}/img/expertise/cartonnage/princesse/princessee1.jpg">
        </a>
        <div class="caption">
          <h4>Le cartonnage</h4>
          <p>L'envie de faire du cartonnage est né après les fêtes de Noël! Pour moi c'était important de faire quelque chose des cartons empillés! Des moments de collages et de pur création</p>
        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="{{.Site.BaseURL}}/categories/aux-pinceaux">
          <img src="{{.Site.BaseURL}}/img/expertise/peinture/tableau.jpg">
        </a>
        <div class="caption">
          <h4>Aux pinceaux</h4>
          <p>Mes premiers amours avant d'être mamman. J'ai du arrêter pour la santé de mon deuxième. Mais c'est un pur plaisir de pouvoir prendre les pinceaux et de se laisser aller dans l'imaginaire. Aujourd'hui je suis à la recherche d'autres alternatives comme l'utilisation de pigments narurels! et pourquoi pas?</p>
        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="{{.Site.BaseURL}}/categories/les-zautres">
          <img src="{{.Site.BaseURL}}/img/expertise/pate-a-sucre/gateau-ball1.JPG">
        </a>
        <div class="caption">
          <h4>Les Z'autres</h4>
          <p>La catégorie bricolage, j'adore aprendre et toujours tester d'autres techniques, comme la gravure, la sculpture, et la pâte à sucre.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
